---
- name: Docker Stateless Container - Web Deploy
  hosts: host1
  become: yes
  
  tasks:
    - name: Gather information about Docker containers
      command: docker ps -aq
      register: docker_container_ids
      changed_when: false
      ignore_errors: yes

    - name: Stop and remove Docker containers
      docker_container:
        name: "{{ item }}"
        state: absent
      loop: "{{ docker_container_ids.stdout_lines }}"

    - name: Stop UFW service
      ansible.builtin.service:
        name: ufw
        state: stopped

    - name: Uninstall UFW
      ansible.builtin.apt:
        name: ufw
        state: absent

    - name: Create Directory
      file:
        path: /home/website1/
        state: directory
        mode: '0755'

    - name: Copy Dockerfile Configuration File
      copy:
        src: web1_dockerfile.conf.j2
        dest: /home/website1/Dockerfile
        mode: '0644'

    - name: Copy Template File >> index.php
      template:
        src: web1_index_php_conf.j2
        dest: /home/website1/index.php
        mode: '0644'

    - name: Remove Docker Image
      shell: docker image rm my-php:7.4-apache

    - name: Build Custom Docker Image >> my-php:7.4-apache
      command: docker build -t my-php:7.4-apache /home/website1

    - name: Run Custom PHP 7.4 Docker Container
      docker_container:
        name: my-php-container
        image: my-php:7.4-apache
        ports:
          - "8080:80"
        detach: yes

    - name: Run Redis Docker Container
      docker_container:
        name: redis-container
        image: redis:latest
        ports:
          - "6379:6379"
        detach: yes

    - name: Display Message
      debug:
        msg: "Hello, website is ready >> http://{{ ansible_default_ipv4.address }}:8080"
