---
- name: Docker Registry With CA Deploy
  hosts: servers
  become: yes
  
  tasks:
    - name: Gather information about Docker containers
      command: docker ps -aq
      register: docker_container_ids
      changed_when: false
      ignore_errors: yes

    - name: Stop and remove Docker containers
      docker_container:
        name: "{{ item }}"
        state: absent
      loop: "{{ docker_container_ids.stdout_lines }}"

    - name: Stop UFW service
      ansible.builtin.service:
        name: ufw
        state: stopped

    - name: Uninstall UFW
      ansible.builtin.apt:
        name: ufw
        state: absent
