# Use the official PHP Alpine image as the base image
FROM php:alpine

# Set the working directory inside the container
WORKDIR /var/www/html

# Copy your PHP application files into the container
COPY index.php .

# Expose the port your PHP application will run on (if applicable)
EXPOSE 80

# Start your PHP application
CMD ["php", "-S", "0.0.0.0:80"]
