sleep 10
echo "CREATE DATABASE IF NOT EXISTS test; USE test; CREATE TABLE IF NOT EXISTS visit_data (id INT AUTO_INCREMENT PRIMARY KEY, remote_ip VARCHAR(255), current_datetime DATETIME, current_url VARCHAR(255), user_agent VARCHAR(255), remote_port INT);" | mysql -h {{ hostvars['host3'].ansible_default_ipv4.address }} -P 3306 -uroot -pmy-secret-password
