<!DOCTYPE html>
<html>
<head>
    <title>PHP Info</title>
</head>
<body>
    <h1>PHP Info</h1>

    <?php
    // Get the remote host's IP address
    $remote_ip = $_SERVER['REMOTE_ADDR'];

    // Get the local date and time
    $current_datetime = date('Y-m-d H:i:s');

    // Get the URL of the current page
    $current_url = "http://$_SERVER[HTTP_HOST]$_SERVER[REQUEST_URI]";
    ?>

    <p>Remote IP Address: <?php echo $remote_ip; ?></p>
    <p>Local Date and Time: <?php echo $current_datetime; ?></p>
    <p>Current URL: <?php echo $current_url; ?></p>
</body>
</html>
