<!DOCTYPE html>
<html>
<head>
    <title>PHP Info</title>
</head>
<body>
    <h1>PHP Info</h1>

    <?php
    // Get the remote host's IP address
    $remote_ip = $_SERVER['REMOTE_ADDR'];

    // Get the local date and time
    $current_datetime = date('Y-m-d H:i:s');

    // Get the URL of the current page
    $current_url = "http://$_SERVER[HTTP_HOST]$_SERVER[REQUEST_URI]";

    // Get additional remote information
    $user_agent = $_SERVER['HTTP_USER_AGENT'];
    $remote_port = $_SERVER['REMOTE_PORT'];
    $referer = $_SERVER['HTTP_REFERER'];

    // Use get_browser() to get browser information
    $browser_info = get_browser(null, true);
    ?>

    <p>Remote IP Address: <?php echo $remote_ip; ?></p>
    <p>Local Date and Time: <?php echo $current_datetime; ?></p>
    <p>Current URL: <?php echo $current_url; ?></p>
    <p>User Agent: <?php echo $user_agent; ?></p>
    <p>Remote Port: <?php echo $remote_port; ?></p>
    <p>Referer URL: <?php echo $referer; ?></p>
    <p>Browser Name: <?php echo $browser_info['browser']; ?></p>
    <p>Browser Version: <?php echo $browser_info['version']; ?></p>
</body>
</html>
